extends ../layouts/layout

block content
  .jumbotron
    h1 Stuff!
    h2 From People!
    p
      a.btn.btn-lg.btn-primary(href='https://docs.strongloop.com/display/public/LB/LoopBack/', target="_blank", role='button') LoopBack Docs of Vagueness »
    p
      a.btn.btn-lg.btn-primary(href='https://console.firebase.google.com/', target="_blank", role='button') FireBase/Google Console of Forever Changing »
    p
      a.btn.btn-lg.btn-primary(href='https://github.com/strongloop/loopback-component-push/', target="_blank", role='button') Push Notification Library Candidate 1! »
    p
      a.btn.btn-lg.btn-primary(href='https://www.npmjs.com/package/node-pushnotifications/', target="_blank", role='button') Push Notification Library Candidate 2!
      a.btn.btn-lg.btn-primary(href='https://docs.strongloop.com/display/public/LB/Push+notifications/', target="_blank", role='button') (of Vagueness) »

